@import 'vars';
@import 'global';



//start header
.header {
    height: 100vh;
    background-image: url(../images/backgrounds/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 20px;
        font-weight: 500;
        font-size: 13px;
        line-height: 19.5px;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
    &__btn {
        margin: 0 15px;
        display: inline-block;
    }
}

.header__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header__top {
    flex-basis: auto;
    flex-grow: 1;
}

.menu {
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 20px;
        margin-left: auto;
        position: relative;
        display: none;
        cursor: pointer;
        span {
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
        &::before,
        &::after {
            content:'';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 0;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #fff;
        border-right: none;
        border-left: none;
    }
    &__item {
        width: 100%;
        & + .menu__item {
            border-left: 1px solid #fff;
        }
    }
    &__link {
        display: block;
        padding: 13px 0;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        transition: all .3s;
        &:hover {
                background-color: rgba(#fff, .2);
        }    
    }
}
//end header


//start info
.info {
    background-color: $dark;
    color: #fff;
    padding: 100px 0;
    &__box {
        border: solid #C4C4C4;
        text-align: center;
        padding: 60px 180px 270px;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
            width: 160px;
            height: 160px;
            background-image: url(../images/icons/glass.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__title {
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
}
//end info


//start new
.new {
    background-color: #E6E3C4;
    padding: 80px 0;
    &__inner {
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $sand;
        border-bottom: 1px solid $sand;
        font-size: 14px;
        line-height: 21px;
    }
    &__content {
        margin-right: 15px;
        max-width: 445px;
    }
    &__subtitle {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 24px;
    }
    &__title {
        max-width: 300px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        &::after {
            background-color: $dark;
            left: 0;
            transform: none;
        }
    }
    &__text {
        margin-bottom: 30px;
    }
    &__table {
        margin-bottom: 30px;
    }
    &__row {
        display: flex;
        align-items: center;
        & + .new__row {
            border-top: 1px solid $dark;
        }
    }
    &__num {
        padding: 26px 24px;
    }
    &__info {
        padding: 10px 0 10px 30px;
        border-left: 1px solid $dark;
    }
    &__row-title {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 5px;
    }
    &__btn {
        display: inline-block;
    }
    &__big-img-box {
        margin-bottom: 30px;
    }
    &__images-row {
        display: flex;
        justify-content: space-between;
    }
}
//end new


//start registration
.registration {
    color: #fff;
    background-color: $dark;
    padding: 129px 0 100px;
    &__inner {
        border: 3px solid #C4C4C4;
        padding: 0 285px 80px;
        text-align: center;
        position: relative;
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &::before {
            width: 260px;
            height: 260px;
            background-image: url(../images/grapes.jpg);
            left: -30px;
            top: -69px;
        }
        &::after {
            width: 260px;
            height: 200px;
            background-image: url(../images/barrel.jpg);
            right: -53px;
            top: -65px;
        }
    }
    &__title {
        padding: 0 40px 40px;
        margin-bottom: 40px;
        transform: translateY(-35%);
        background-color: $dark;
        display: inline-block;
    }
    &__text {
        margin-bottom: 80px;
    }
    &__input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        height: 30px;
        padding: 0 10px 10px 0;
        outline: none;
        font-weight: 500;
        color: #fff;
        font-size: 13px;
        line-height: 19.5px;
        &::placeholder {
            color: #fff;
            font-size: 13px;
            line-height: 19.5px;
            font-weight: 500;
        }
    }
    &__btn {
        margin-top: 50px;
        outline: none;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        width: 100%;
        border: 1px solid #fff;
        font-weight: 500;
        line-height: 19.5px;
        color: #fff;
        padding: 15px 0;
        cursor: pointer;
    }
}

.form-row {
    display: flex;
    margin: 0 -15px 40px;
}

.row-input {
    margin: 0 15px;
}
//end registration


//start footer
.footer {
    background-color: $sand;
    color: #fff;
    padding: 50px 0;
    &__menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 20px;
        margin-left: auto;
        position: relative;
        cursor: pointer;
        display: none;
        span {
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
        &::before,
        &::after {
            content:'';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 0;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
    &__menu-list {
        padding: 0 95px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #fff;
    }
    &__menu-link {
        padding: 19px 0 20px; 
        display: block;
        font-size: 14px;
        line-height: 21px;
    }
    &__contacts {
        padding: 0 95px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    &__contacts-item {
        padding: 19px 0 10px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        width: 100%;
        text-align: center;
        & + .footer__contacts-item {
            border-left: 1px solid #fff;
        }
    }
    &__brand {
        text-align: left;
    }
    &__social-link {
        margin: 0 15px;
    }
    &__copy {
        text-align: right;
        width: auto;
        padding-left: 60px;
        white-space: nowrap;
    }
}
//end footer

@import 'media';